.nav {
  background-color: #fff0;
  width: 100px;
}

.nav {
  height: 100px;
}


.footer {
  background-color: #fff;
}

.header {
  background-color: #fff;
  display: block;
}

/* git config --global --unset http.proxy
git config --global --unset https.proxy */